.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
	padding: 0;
}
body {
    font-family: "Rajdhani", Helvetica, sans-serif;
    background-color: #0A2239; 
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #85D6FF;
    padding: 1rem;
    background-color:#91B8D4;
    color: #0A2239;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    color: #91B8D4;
}
section {
    padding: 1rem;
    background-color: #0A2239; 
}