.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
	padding: 0;
}
body {
    background-color: #0A2239; 
    font-family: "Rajdhani", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
}
header {
    background-color:#91B8D4;
    color: #0A2239;
    display: block;
	text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 25px;
}
header, main, footer {
	max-width: 1600px;
	margin: 0 auto;
}
main {
    width: auto;
    display: block;
    color: #91B8D4;
    margin: auto;
}
main h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 25px;
}
main h2 {
    background-color:#91B8D4;
    color: #0A2239;
    text-align: center;
    padding: 10px;
}
main ul {
    list-style-type: none;
	overflow: hidden;
}
main ul li {
    padding: 10px;
}
#color-schema a {
    color: black;
}
.large-image {
    display: none;
}
.small-image {
    display: block;
}
#typography h2, h3, p {
    padding: 10px;
}
footer {
    font-weight: 600;
    background-color:#91B8D4;
    color: #0A2239;
    display: block;
    text-align: center;
    padding: 25px;
}
footer p {
    padding: 10px;
}