.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
* {
    font-family: "Rajdhani", Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
	padding: 0;
    letter-spacing: 0.1em;
    box-sizing: border-box;
}
body {
    background-color: #0A2239;
}
header {
    position: relative;
    background-color:#91B8D4;
    color: #0A2239;
    display: flex;
    font-weight: 500;
    padding: 25px;
}
#top-logo {
    display: none;
}
header p {
    text-align: center;
    align-items: center;
	justify-content: center;
    font-size: 2rem;
    padding: 25px;
}
#dark-svg {
	position: absolute;
	top: 1rem;
	right: 1rem;
    width: 25px;
	cursor: pointer;
    z-index: 1;
}
#light-svg {
	position: absolute;
	top: 1rem;
	right: 1rem;
    width: 25px;
	cursor: pointer;
}
header, nav, main, footer {
	max-width: 1600px;
	margin: 0 auto;
}
#menu {
    background-color: #000000;
    color: #85D6FF;
    width: 100%;
    font-size: 1.1rem;
	border: none;
	padding: 10px;
}
#menu::before {
    background-color: #000000;
    color: #85D6FF;
    content: "≡";
    font-size: 2rem;
}
#menu.responsive::before {
    background-color: #000000;
    color: #85D6FF;
    content: "X";
    font-size: 2rem;
}
.navigation {
    background-color: #000000;
	margin: 0 auto;
    width: 100%;
}
.navigation ul {
    list-style-type: none;
    overflow: hidden;
    align-items: center;
	justify-content: center;
    padding: 10px;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #85D6FF;
    font-size: 1.1rem;
    padding: 10px;
}
.navigation a:hover, a:active {
    background-color:#91B8D4;
    color: #0A2239;
}
.responsive li {
    display: block;
    width: 100%;
}
.responsive li a {
    display: block;
}
#home-page {
    width: auto;
    display: block;
    margin: auto;
    font-weight: 500;
}
.hero, .event, .weather, .news, .spotlight {
    margin: 25px;
}
.hero h1 {
    background-color:#91B8D4;
    color: #0A2239;
    text-align: center;
    padding: 25px;
    font-size: 3rem;
    font-weight: 700;
}
#join {
    background-color: #000000;
    color: #85D6FF;
    width: 100%;
    font-size: 1.1rem;
	border: none;
	padding: 10px;
    z-index: 1;
}
.event h2, .weather h2, .news h2, .spotlight h2 {
    background-color:#91B8D4;
    color: #0A2239;
    text-align: left;
    padding: 10px;
    font-weight: 600;
}
footer {
    background-color:#91B8D4;
    color: #0A2239;
    display: block;
    font-weight: 500;
    padding: 25px;
}
#bottom-logo {
    display: none;
}
footer p {
    text-align: center;
    align-items: center;
	justify-content: center;
    padding: 10px;
}

/* set dark mode */
body.dark-mode {
    background-color: black;
}
.dark-mode header {
    background-color: #0A2239;
    color: #91B8D4;
    border-bottom: 1px solid #91B8D4;
}
.dark-mode #light-svg {
    z-index: 2;
}
.dark-mode #menu {
    background-color: #0A2239;
    color: #91B8D4;
}
.dark-mode #menu::before {
    background-color: #0A2239;
    color: #91B8D4;
}
.dark-mode #menu.responsive::before {
    background-color: #0A2239;
    color: #91B8D4;
}
.dark-mode .navigation {
    background-color: #0A2239;
}
.dark-mode .navigation li a {
    color: #91B8D4;
    border-right: 1px solid #91B8D4;
    border-left: 1px solid #91B8D4;
    border-bottom: 1px solid #91B8D4;
}
.dark-mode .navigation a:hover, a:active {
    background-color: black;
    color: #91B8D4;
}
.dark-mode #home-page h1 {
    background-color:#0A2239;
    color: #91B8D4;
}
.dark-mode #join {
    border: 1px solid #91B8D4;
}
.dark-mode #home-page h2 {
    background-color:#0A2239;
    color: #91B8D4;
}
.dark-mode .hero {
    background-color: #0A2239;
}
.dark-mode .spotlight {
    background-color: #0A2239;
}
.dark-mode #discover-page {
    background-color: black;
}
.dark-mode #discover-page h1 {
    background-color: #0A2239;
    color: #91B8D4;
}
.dark-mode #visits {
    background-color: #0A2239;
    color: #91B8D4;
}
.dark-mode #stats summary {
    background-color: #0A2239;
    color: #91B8D4;
}
.dark-mode #discover-page img {
    border: 1px solid #000000;
}
.dark-mode footer {
    background-color: #0A2239;
    color: #91B8D4;
}

/* discover.html CSS */

#discover-page {
    background-color: #0A2239;
    color: #91B8D4;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-weight: 500;
}
#discover-page h1 {
    background-color: #91B8D4;
    color: #0A2239;
    text-align: center;
    padding: 25px;
    font-size: 3rem;
    font-weight: 700;
}
#visits {
    background-color: #91B8D4;
    color: #0A2239;
    text-align: center;
    align-items: center;
	justify-content: center;
    font-size: 2rem;
    padding: 10px;
}
#stats {
    text-align: center;
    padding: 5px;
}
#stats summary {
    background-color: #91B8D4;
    color: #0A2239;
    font-size: 2rem;
    font-weight: 600;
}
#stats h2 {
    font-size: 2rem;
    font-weight: 500;
}
#discover-page img {
    display: block;
    width: 100%;
    border: 1px solid #85D6FF;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#discover-page figcaption {
    padding: 10px;
}

/* join.html CSS */
:root {
	--bord: 1px solid #85D6FF;
    --shadow: 1px 1px 4px #85D6FF;
    --required: solid 8px #85D6FF;
    --fsize: 1rem;
}
#join-page {
    color: #91B8D4;
    width: auto;
    display: block;
    margin: auto;
    font-weight: 500;
}
#join-page h1 {
    color:#91B8D4;
    text-align: center;
    font-weight: 700;
}
.member {
    color: #91B8D4;
    padding: 5px;
    padding: 0 2%;
    min-height: 20rem;
}
.member fieldset {
    margin: 2rem 0;
    border: var(--bord);
    border-radius: 6px;
    padding: .5rem 2%;
}
.member legend {
    color: #91B8D4;
    padding: 0 .5rem;
}
.member label {
    display: block;
    padding-top: 1rem;
    color: #85D6FF;
    font-size: .9rem;
}
.member input[type="text"], .member input[type="email"], .member input[type="tel"], .member textarea {
    background-color: #7093AE;
    display: block;
    border: var(--bord);
    border-radius: 6px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 400px;
    appearance: none;
    cursor: text;
}
.member ::placeholder {
    color: black;
}
.member input[type="radio"] {
    cursor: pointer;
}
.member input[type="submit"] {
    border: none;
    background-image: linear-gradient(#85D6FF, #91B8D4);
    color: black;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: var(--shadow);
    cursor: pointer;
}
.member input:required {
    border-bottom: var(--required);
}
.member input:required:valid {
    border-bottom: solid 8px #7093AE;
}
#join-page h2 {
    background-color:#91B8D4;
    color: #0A2239;
    text-align: left;
    font-weight: 600;
    padding: 10px;
}
#membership-info ul li {
    text-align: left;
    padding: 10px;
}
#join-page ul {
    padding-left: 25px;
}
#thankyou-page h1 {
    color:#91B8D4;
    text-align: center;
    font-weight: 700;
}