@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    letter-spacing: 0.1em;
}
body {
    background-color: #0A2239; 
    font-family: 'Rajdhani', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color:#91B8D4;
    color: #0A2239;
    width: 100%;
    display: block;
    align-items: center;
    padding: 5px;
}
#logo {
    background-color: #0A2239;
    width: 200px;
    height: auto;
    margin-bottom: -150px;
    float: left;
    padding: 5px;
}
header h1, header h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    padding: 5px;
}
header p {
    margin-top: -100px;
    margin-right: 200px;
    float: right;
    padding: 5px;
}
.social {
    display: flex;
    float: right;
    margin-top: -75px;
    padding: 5px;
}
header nav {
    background-color: #000000;
    margin: 0 auto;
    font-weight: 600;
}
header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    overflow: hidden;
    padding: 25px;
}
header nav ul li a {
    display: block;
    text-align: center;
    /* text-decoration: none; */
    color: #85D6FF;
    font-size: 1.1rem;
}
main {
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
    background-color: #0A2239; 
    color: #91B8D4;
    padding: 10px;
    margin: 25px auto;
}
#hero {
    background-color:#91B8D4;
    color: #0A2239;
    grid-column: 2/3;
    grid-row: 1/4;
}
#event {
    background-color:#91B8D4;
    color: #0A2239;
    grid-column: 1/2;
    grid-row: 1/3;
}
#weather {
    background-color:#91B8D4;
    color: #0A2239;
    grid-column: 1/2;
    grid-row: 3/4;
}
#join {
    background-color:#91B8D4;
    color: #0A2239;
    grid-column: 1/2;
    grid-row: 4/5;
}
#news {
    background-color:#91B8D4;
    color: #0A2239;
    grid-column: 2/3;
    grid-row: 4/5;
}
.company {
    background-color:#91B8D4;
    color: #0A2239;
    grid-column: 3/4;
    grid-row: 1/5;
}
.spotlight {
    padding-bottom: 100px;
}
footer {
    font-weight: 500;
    background-color:#91B8D4;
    color: #0A2239;
    display: block;
    /* flex-direction: column; */
    text-align: center;
    padding: 10px;
}
#name {
    text-align: left;
    margin-left: 225px;
    /* margin-top: -25px; */
}
#address {
    text-align: left;
    margin-left: 225px;
    margin-top: -25px;
}
#contact {
    text-align: right;
    margin-top: -25px;
}
#map {
    text-align: right;
}