@media screen and (max-width: 780px) {
    header {
        display: flex;
        flex-direction: column;
    }
    #banner {
        background-color: #000000;
        color:#85D6FF;
    }
    #banner p {
        text-align: center;
        font-size: 30px;
    }
    #top-logo {
        width: 100px;
        padding: 5px;
    }
    header h1 {
        text-align: center;
        margin-top: -75px;
        margin-right: -25px;
        font-size: 2.5rem;
        padding: 5px;
    }
    header h2 {
        text-align: center;
        margin-top: 5px;
    }
    header p {
        margin-top: -1px;
    }
    .social {
        margin-top: 5px;
    }
    header nav {
        max-width: 760px;
        padding: 5px;
    }
    .navigation {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #85D6FF;
        font-weight: 700;
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }
    #menu::before {
        content: "≡";
        font-size: 2rem;
    }
    .navigation a:hover, navigation a:active {
        color: #85D6FF;
        background-color: black;
    }
    .responsive li {
        display: block;
    }
    .responsive #menu::before {
        content: "X";
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    }
    header nav ul li {
        flex: 1 1 auto;
        padding: 10px;
    }
    header nav ul li a {
        font-size: 2.5rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 25px;
    }
    #hero {
        grid-column: 1/4;
        grid-row: 1/1;
    }
    .size {
        top: 83px;
        left: 20px;
        width: 94%;
        height: 15%;
    }
    #large {
        display: none;
    }
    #medium {
        display: block;
        margin-top: -1px;
        font-size: 50px;
        padding: 5px;
    }
    #small {
        display: none;
    }
    #event {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #weather {
        grid-column: 2/4;
        grid-row: 5/6;
    }
    #join {
        grid-column: 1/4;
        grid-row: 4/5;
    }
    #news {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .company {
        display: none;
    }
    .company-small {
        background-color:#91B8D4;
        color: #0A2239;
        display: block;
        padding: 5px;
        grid-column: 1/4;
        grid-row: 3/4;
    }
    footer {
        font-size: 25px;
        padding: 10px;
    }

    /* Discover.html CSS */
}