@media screen and (max-width: 375px) {
    #banner {
        background-color: #000000;
        color:#85D6FF;
    }
    #banner p {
        text-align: center;
        font-size: 35px;
    }
    #top-logo {
        width: 25%;
    }
    header h1 {
        margin-top: 25px;
        padding: 10px;
    }
    header h2 {
        margin-top: -25px;
        padding-bottom: 50px;
    }
    header p {
        margin-top: -75px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    #hero {
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .size {
        top: 110px;
        left: 10px;
        width: 94%;
        height: 15%;
    }
    #large {
        display: none;
    }
    #medium {
        display: none;
    }
    #small {
        display: block;
        margin-top: -1px;
        font-size: 50px;
        padding: 5px;
    }
    #event {
        grid-column: 1/2;
        grid-row: 2/2;
    }
    #weather {
        grid-column: 1/2;
        grid-row: 3/3;
    }
    #join {
        display: none;
    }
    #news {
        grid-column: 1/2;
        grid-row: 4/4;
    }
    .company {
        display: none;
    }
    .company-small {
        background-color:#91B8D4;
        color: #0A2239;
        display: block;
        padding: 5px;
        grid-column: 1/2;
        grid-row: 5/5;
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #bottom-logo {
        width: 25%;
    }
    #name {
        text-align: center;
        margin-left: 100px;
    }
    #address {
        text-align: center;
        margin-left: 1px;
        margin-top: 1px;
    }
    #contact {
        text-align: center;
        margin-top: 1px;
    }
    #map {
        text-align: center;
    }
    .base {
        text-align: center;
        margin-top: 1px;
    }
}