@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
    background-color: #0A2239; 
    font-family: 'Rajdhani', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
}
header {
    background-color:#91B8D4;
    color: #0A2239;
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 25px;
}
header img {
    display: none;
}
header h1 {
    font-size: 2rem;
    font-weight: 600;
    padding: 25px;
}
header, nav, main, footer {
	max-width: 1600px;
	margin: 0 auto;
}
#menu {
    background-color: #000000;
    color: #85D6FF;
    width: 100%;
    font-size: 1.1rem;
	border: none;
	padding: 10px;
}
#menu::before {
    background-color: #000000;
    color: #85D6FF;
    content: "≡";
    font-size: 2rem;
}
#menu.responsive::before {
    background-color: #000000;
    color: #85D6FF;
    content: "X";
    font-size: 2rem;
}
.navigation {
    background-color: #000000;
	margin: 0 auto;
    width: 100%;
    font-weight: 600;
}
.navigation ul {
    list-style-type: none;
    overflow: hidden;
    align-items: center;
	justify-content: center;
    padding: 10px;
}
.navigation li {
    display: none;
}
.navigation li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #85D6FF;
    font-size: 1.1rem;
    padding: 10px;
}
.navigation a:hover, a:active {
    background-color: black;
    color: #85D6FF;
}
.responsive li {
    display: block;
    width: 100%;
}
.responsive li a {
    display: block;
}
main {
    width: auto;
    font-weight: 500;
    display: block;
    color: #91B8D4;
    margin: 25px auto;
}
main h2 {
    font-weight: 600;
    text-align: center;
}
.card {
    text-align: center;
    padding: 25px;
}
.card h3 {
    background-color:#91B8D4;
    color: #0A2239;
}
.card ul li, h4 {
    text-align: center;
    padding: 10px;
}
.card ul img {
    width: 200px;
    height: auto;
}
main ul {
    list-style-type: none;
	overflow: hidden;
}
main ul a{
    color: #85D6FF;
}
#mapSmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#mapLarge {
    display: none;
}
footer {
    font-weight: 500;
    background-color:#91B8D4;
    color: #0A2239;
    display: block;
    text-align: center;
    padding: 25px;
}
footer p {
    padding: 10px;
}