@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    letter-spacing: 0.1em;
}
body {
    background-color: #0A2239; 
    font-family: 'Rajdhani', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color:#91B8D4;
    color: #0A2239;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
header img {
    width: 200px;
    height: auto;
    margin-left: 500px;
    padding: 10px;
    grid-column: 1/2;
}
header h1 {
    font-weight: 600;
    padding: 25px;
    grid-column: 2/3;
}
main {
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #91B8D4;
    margin: 25px auto;
}
main h2 {
    font-weight: 600;
    text-align: center;
    grid-column: 2/3;
}
main video {
    justify-self: center;
    margin-top: -150px;
    padding: 5px;
    grid-column: 2/3;
}
main ul {
    list-style-type: none;
	overflow: hidden;
    text-align: center;
    grid-column: 2/3;
}
main ul a{
    color: #85D6FF;
}
footer {
    font-weight: 500;
    background-color:#91B8D4;
    color: #0A2239;
    display: block;
    text-align: center;
}